svg{
	fill: #fff;
}
a + a{
	margin-left: 10px;
}
.ba-contact-up{
border-bottom: 1px solid #4e4e4e;

@media screen and (max-width:$large - 1px){
	display: flex;
	flex-wrap: wrap;
}
}
.ba-twitter-text{
width: 600px;
color: #ffffff;
font-family: "Open Sans";
font-size: 13px;
font-weight: 300;
line-height: 22px;
margin: 0 0 32px 10px;
display: inline-block;

svg{
	margin-right: 10px;
	position: absolute;
	margin: 0 10px;
}

span{
	color: #717171;
}
}
.ba-social{
	text-decoration: none;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	
	@media screen and (max-width:$large - 1px){
		display: flex;
	justify-content: center;
	align-items: center;
	}
svg:hover{
	cursor: pointer;
	fill: $primary-color;
}
}
.ba-information{
	margin-bottom: 80px;
}
.ba-information-title{
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 42px;
	margin-bottom: 25px;
	padding-left: 0px;
	
	&--form{
		margin-bottom: 30px;
		padding-left: 39px;

		@media screen and (max-width:$large - 1px){
			padding-left: 10px;
		}
	}
}
.ba-information-text, .ba-info-contact{
	font-size: 12px;
	font-weight: 300;
	font-family: $text-font-family;
	color: #c6c6c6;
	line-height: 21px;
	text-decoration: none;
	margin: 0 0 20px;

}
/*img{
	margin-right: 10px;
}*/

.ba-contact-info{
	max-width: 400px;
	padding: 0;

	@media screen and (max-width:$large - 1px){
		max-width: 100%;
	}
}
.ba-contact-form{
	display: grid;
	grid-template-columns: 212px 212px 212px;
	grid-template-rows: 36px;
	grid-gap: 17px;
	margin-left: 38px;

	@media screen and (max-width:$large - 1px){
		margin: 0;
		display: flex;
		flex-wrap: wrap;
	}
}
.ba-info-messege{
	grid-column-start: 1;
	grid-column-end: 3;
	border: 1px solid #7d7d7d;
background-color: inherit;
&:hover{
	border: 3px solid $primary-color;
transition: 0.2s;
}

@media screen and (max-width:$large - 1px){
	width: 100%;
	margin: 0 10px 10px;
}
}
.ba-submit{
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;

}
.ba-button--contact{
	border: none;
	width: 100%;
	padding: 9px 18px;
	font-size: 16px;

	@media screen and (max-width:$large - 1px){
		width: 100%;
		margin-left: 10px;
	}
}
.ba-button-img{
	padding-left: 5px;
}
.ba-input-list{
border: 1px solid #7d7d7d;
background-color: inherit;
padding: 12px;
&:hover{
	border: 3px solid $primary-color;
}

@media screen and (max-width:$large - 1px){
	width: 100%;
	margin: 0 10px 10px;
}

&::placeholder{
	text-transform: uppercase;
	}
}
.ba-text-button{
	font-size: 12px;
	font-family: $text-font-family;
	font-weight: 300;
	color: #707070;

	@media screen and (max-width:$large - 1px){
		margin-left: 10px;
	}
}
.ba-footer-hidden{
	display: none;
}

