.ba-header{
	top: 0;
	left: 0;
	right: 0;
	z-index:1;
	padding:35px 0;
	background-size:cover;
	background-color: $text-color;
}
.ba-menu{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	line-height: 1;
	justify-content: space-around;
	text-transform: uppercase;
}
.ba-main-nav{
	display: none;

	@media screen and (min-width: $large) {
		display: flex;
		padding-top: 8px;
	 }
	 @media screen and (max-width: $large - 1px){
		position: fixed;
		height: 100vh;
		width: 100vw;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: rgba(#000, 0.6);
		opacity: 0;
		visibility: hidden;
		transition: 0.2s;
		transition-property: transform, opacity, visibility;
		transform: scale(0.8);
 
		&.active{
			opacity: 1;
			visibility: visible;
			transform: scale(1);
 
		}
	} 
}

.ba-menu-toggle {
	border: none;
	background: none;
	color: #fff;
	cursor: pointer;
	position: relative;
	z-index: 2;
	min-width: initial;
	padding: 0;
	height: auto;
	line-height: 1;
	margin: 0;
 
	&:hover, &:focus{
		background: none;
		color: $primary-color;
		outline: none;
	}
 }
.ba-menu-toggle svg{
	fill:currentColor;
}

@media (min-width: $large){
	.ba-main-nav{
		 
	}
	.ba-menu-toggle{
		 display: none;
	}
}
.ba-header-bar{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.ba-menu li + li{
	margin-left: 18px;

}
.ba-menu a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.4px;
	padding: 5px 10px;
	
	@media screen and (max-width:$large - 1px){
		font-size: 26px;
		
	}
}
.ba-menu a:hover{
	background-color: $primary-color;
}
.ba-logo{
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 24px;
text-decoration: none;
color: #fff;
}